<section fxLayoutAlign="end" class="bg-grey">
  <button mat-icon-button class="text-light" (click)="close()">
    <mat-icon>close</mat-icon>
  </button>
</section>
<h1 mat-dialog-title fxLayoutAlign="center center" class="bg-grey text-light">
  {{ isNew ? "Add TV Series" : "Edit TV Series" }}
</h1>
<mat-dialog-content [formGroup]="form" class="bg-grey text-light">
  <section fxLayout="row" fxLayoutAlign="center center">
    <mat-form-field fxFlex>
      <label for="name">Show Name:</label>
      <input matInput formControlName="name" />
    </mat-form-field>
  </section>
  <section fxLayout="row" fxLayoutAlign="center center">
    <mat-form-field fxFlex>
      <label for="showImage"
        >Show Image:<button mat-icon-button matPrefix (click)="f_input.click()">
          <mat-icon>attach_file</mat-icon>
        </button></label
      >
      <input matInput formControlName="showImage" />
      <input
        type="file"
        hidden
        #f_input
        (change)="handleUpload(f_input.files)"
      />
    </mat-form-field>
  </section>
  <section fxLayout="row" fxLayoutAlign="center center">
    <mat-form-field fxFlex>
      <label for="description">Description:</label>
      <input matInput formControlName="description" />
    </mat-form-field>
  </section>
  <section fxLayout="row" fxLayoutAlign="center center">
    <mat-form-field fxFlex>
      <label for="genre">Genre:</label>
      <input matInput formControlName="genre" />
    </mat-form-field>
  </section>
  <section fxLayout="row" fxLayoutAlign="center center">
    <mat-form-field fxFlex>
      <label for="rating">Rating:</label>
      <input matInput type="number" formControlName="rating" min="0" max="5" />
    </mat-form-field>
  </section>
  <section fxLayout="row" fxLayoutAlign="center center">
    <mat-form-field fxFlex class="text-light">
      <label for="networkId">Network:</label>
      <mat-select
        fxLayout="row"
        fxLayoutAlign="space-between"
        formControlName="networkId"
        class="text-light"
        required
      >
        <mat-select-trigger>
          {{ networkSelected?.networkName }}
        </mat-select-trigger>
        <mat-option
          *ngFor="let net of networks"
          [value]="net.id"
          class="bg-dark text-light"
          (click)="setNetworkSelected(net)"
        >
          <span fxLayout="row" fxLayoutAlign="space-between">
            {{ net.networkName }}
            <mat-icon (click)="editNetwork(net)">edit</mat-icon>
          </span>
        </mat-option>
        <mat-option
          value="0"
          (click)="openAddNetwork()"
          class="bg-dark text-light"
          >Add New Network</mat-option
        >
      </mat-select>
    </mat-form-field>
  </section>
</mat-dialog-content>
<div mat-dialog-actions fxLayoutAlign="end" class="bg-grey text-light">
  <button mat-raised-button (click)="close()" class="close">Cancel</button>
  <button mat-raised-button (click)="save()" class="text-light">Save</button>
</div>
