
.mat-dialog-container {
    background-color: #363636;
}

.mat-button, .mat-raised-button{
    background-color: #1861ac;
    border: #1861ac;
} 

.mat-button, .mat-raised-button.close {
    background-color: #fff;
    border: #fff;
}