<mat-card
  class="tv-card bg-dark pointer"
  (click)="edit(tvSeries)"
  [title]="tvSeries.description"
>
  <mat-card-header>
    <img mat-card-avatar [src]="networkLogo(tvSeries.networkLogoUrl)" class="network-image" />
    <mat-card-title class="text-light">{{ tvSeries.name }}</mat-card-title>
  </mat-card-header>
  <img mat-card-image [src]="tvSeries.showImage" alt="tvSeries.name" />
  <mat-card-content>
    <div>
      <app-tv-rating-star
        [rating]="tvSeries.rating"
        [starCount]="starCount"
      ></app-tv-rating-star>
      <p class="text-light pointer">
        {{ tvSeries.description }}
      </p>
    </div>
  </mat-card-content>
  <mat-card-actions>
    
  </mat-card-actions>
</mat-card>
<button mat-icon-button color="primary" (click)="sendEmail(tvSeries)" class="send-email-btn"><mat-icon>email</mat-icon></button>
