<section *ngIf="user?.id && user?.tvSeries?.length">
  <h1 class="text-light">TV Shows</h1>
  <p class="text-light">Here is your TV show library</p>
  <div fxLayout="row wrap center" fxLayoutGap="16px grid">
    <div *ngFor="let tv of tvSeries; let i = index">
      <app-tv-series-card
        [tvSeries]="tv"
        (selectTvSeries)="editTvSeries(tv)"
      ></app-tv-series-card>
    </div>
  </div>
  <section class="button-container">
    <button mat-raised-button color="primary" (click)="openDialog()">
      Add Show
    </button>
  </section>
</section>
<section *ngIf="!user" class="missing-info background-image"></section>
<section
  class="missing-info text-light"
  *ngIf="user?.id && !user?.tvSeries?.length"
>
  <h1>No Shows, please select Add Show</h1>
  <section class="button-container">
    <button mat-raised-button class="add-btn text-light" (click)="openDialog()">
      Add Show
    </button>
  </section>
</section>

<mat-progress-spinner
  *ngIf="fetching"
  class="absolute-center"
  color="primary"
  mode="indeterminate"
>
</mat-progress-spinner>
