<section *ngIf="user?.id && user?.tvSeries?.length">
  <h1 class="text-light">TV Shows</h1>
  <p class="text-light">Here is your TV show library</p>
  <div fxLayout="row wrap center" fxLayoutGap="16px">
    <div *ngFor="let tv of tvSeries; let i = index">
      <app-tv-series-card
        [tvSeries]="tv"
        (selectTvSeries)="editTvSeries(tv)"
      ></app-tv-series-card>
    </div>
  </div>
  <!-- <table mat-table [dataSource]="tvSeries" class="mat-elevation-z8 bg-dark">
    <ng-container matColumnDef="id">
      <th mat-header-cell *matHeaderCellDef class="text-light">Id</th>
      <td mat-cell *matCellDef="let element" class="text-light">{{ element.id }}</td>
    </ng-container>
    <ng-container matColumnDef="showImage">
      <th mat-header-cell *matHeaderCellDef class="text-light">Image</th>
      <td mat-cell *matCellDef="let element">
        <img [src]="element.showImage" />
      </td>
    </ng-container>
    <ng-container matColumnDef="name">
      <th mat-header-cell *matHeaderCellDef class="text-light">Name</th>
      <td mat-cell *matCellDef="let element" class="text-light">{{ element.name }}</td>
    </ng-container>
    <ng-container matColumnDef="description">
      <th mat-header-cell *matHeaderCellDef class="text-light">Show Description</th>
      <td mat-cell *matCellDef="let element" class="text-light">{{ element.description }}</td>
    </ng-container>
    <ng-container matColumnDef="rating">
      <th mat-header-cell *matHeaderCellDef class="text-light">Show Rating</th>
      <td mat-cell *matCellDef="let element" class="text-light">{{ element.rating }}</td>
    </ng-container>
    <ng-container matColumnDef="genre">
      <th mat-header-cell *matHeaderCellDef class="text-light">Genre</th>
      <td mat-cell *matCellDef="let element" class="text-light">{{ element.genre }}</td>
    </ng-container>
    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns" class="pointer" (click)="editTvSeries(row)"></tr>
  </table> -->
  <section class="button-container">
    <button mat-raised-button color="primary" (click)="openDialog()">
      Add Show
    </button>
  </section>
</section>
<section *ngIf="!user" class="missing-info background-image"></section>
<section
  class="missing-info text-light"
  *ngIf="user?.id && !user?.tvSeries?.length"
>
  <h1>No Shows, please select Add Show</h1>
  <section class="button-container">
    <button mat-raised-button class="add-btn text-light" (click)="openDialog()">
      Add Show
    </button>
  </section>
</section>
