<header>
  <nav
    class="navbar navbar-expand-sm navbar-toggleable-sm navbar-light navbar-dark border-bottom border-light box-shadow mb-3"
  >
    <div class="container">
      <a class="navbar-brand text-light" [routerLink]="['/']">Favorite TV Series</a>
      <button
        class="navbar-toggler"
        type="button"
        data-toggle="collapse"
        data-target=".navbar-collapse"
        aria-label="Toggle navigation"
        [attr.aria-expanded]="isExpanded"
        (click)="toggle()"
      >
        <span class="navbar-toggler-icon"></span>
      </button>
      <div
        class="navbar-collapse collapse d-sm-inline-flex justify-content-end"
        [ngClass]="{ show: isExpanded }"
      >
        <form class="form-inline my-2 my-lg-0">
          <ul
            *ngIf="!isUserAuthenticated"
            class="navbar-nav mr-auto mt-2 mt-lg-0"
          >
            <li class="nav-item">
              <a
                class="nav-link text-light"
                [routerLink]="['/authentication/login']"
                routerLinkActive="active"
                [routerLinkActiveOptions]="{ exact: true }"
                >Login</a
              >
            </li>
            <li class="nav-item">
              <a
                class="nav-link text-light"
                [routerLink]="['/authentication/register']"
                routerLinkActive="active"
                [routerLinkActiveOptions]="{ exact: true }"
                >Register</a
              >
            </li>
          </ul>
          <ul
            *ngIf="isUserAuthenticated"
            class="navbar-nav mr-auto mt-2 mt-lg-0"
          >
            <li class="nav-item" *ngIf="user && user.firstName">
              <button class="btn btn-link text-light text-decoration-none" (click)="getUser()">Hello {{user.firstName}}</button>
            </li>
            <li class="nav-item" *ngIf="user && user.firstName">
              <button class="btn btn-link text-light text-decoration-none" (click)="getRecommendations()">Recommendations</button>
            </li>
            <li class="nav-item">
              <button
                class="btn btn-link text-light text-decoration-none"
                (click)="logout()"
              >
                Logout
              </button>
            </li>
          </ul>
        </form>
      </div>
    </div>
  </nav>
</header>
